resources/schemas/rng-dataset.xml

<?xml version='1.0' encoding='UTF-8' ?>
<grammar xmlns='http://relaxng.org/ns/structure/1.0' xmlns:xim='http://ximdex.com/schema/1.0'>
  <start>
    <element name ="docxap">
      <ref name="dataset.class"/>
    </element>
  </start>

  <define name="dataset.class">
    <element name="dataset">
      <ref name="identifier.class"/>
      <ref name="theme.class"/>
      <ref name="periodicity.class"/>
      <ref name="spatial.class"/>
      <ref name="publisher.class"/>
      <ref name="issued.class"/>
      <ref name="modified.class"/>
      <ref name="reference.class"/>
      <ref name="language_title_description.class"/>
      <ref name="distributions.class"/>
      <xim:description>Dataset</xim:description>
    </element>
  </define>

  <define name="identifier.class">
    <element name="identifier">
      <text/>
      <xim:description>Identifier</xim:description>
    </element>
  </define>

  <define name="theme.class">
    <element name="theme">
      <text/>
      <xim:description>Theme</xim:description>
    </element>
  </define>

  <define name="periodicity.class">
    <element name="periodicity">
      <text/>
      <xim:description>Periodicity</xim:description>
    </element>
  </define>

  <define name="spatial.class">
    <element name="spatial">
      <text/>
      <xim:description>Spatial</xim:description>
    </element>
  </define>

  <define name="publisher.class">
    <element name="publisher">
      <text/>
      <xim:description>Publisher</xim:description>
    </element>
  </define>

  <define name="issued.class" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
    <element name="issued">
      <data type="date"/>
      <text/>
      <xim:description>Issued</xim:description>
    </element>
  </define>

  <define name="modified.class" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
    <element name="modified">
      <data type="date"/>
      <text/>
      <xim:description>Modified</xim:description>
    </element>
  </define>

  <define name="reference.class">
    <element name="reference">
      <text/>
      <xim:description>Reference</xim:description>
    </element>
  </define>

  <define name="distributions.class">
    <element name="distributions">
      <zeroOrMore>
        <ref name="distribution.class">
      <zeroOrMore>
      <xim:description>List of Distributions</xim:description>
    </element>
  </define>

  <define name="distribution.class">
    <element name="distribution">
      <ref name="identifier.class"/>
      <ref name="filename.class"/>
      <ref name="issued.class"/>
      <ref name="modified.class"/>
      <ref name="mediatype.class"/>
      <ref name="bytesize.class"/>
      <ref name="language_title.class"/>
      <xim:description>Distribution</xim:description>
    </element>
  </define>

  <define name="filename.class">
    <element name="filename">
      <text/>
      <xim:description>Filename</xim:description>
    </element>
  </define>

  <define name="mediatype.class">
    <element name="mediatype">
      <text/>
      <xim:description>Media Type</xim:description>
    </element>
  </define>

  <define name="bytesize.class">
    <element name="bytesize">
      <text/>
      <xim:description>Byte Size</xim:description>
    </element>
  </define>

  <define name="language_title_description.class">
    <element name="language">
      <ref name="idlang.class"/>
      <ref name="title.class"/>
      <ref name="description.class"/>
    </element>
  </define>

  <define name="language_title.class">
    <element name="language">
      <ref name="idlang.class"/>
      <ref name="title.class"/>
    </element>
  </define>

  <define name="idlang.class">
    <element name="id">
      <text/>
      <xim:description>Language Identifier</xim:description>
    </element>
  </define>

  <define name="title.class">
    <element name="title">
      <text/>
      <xim:description>Name</xim:description>
    </element>
  </define>

  <define name="description.class">
    <element name="description">
      <text/>
      <xim:description>Description</xim:description>
    </element>
  </define>

</grammar>
